.features {
  --grid-gap: clamp(var(--size-700), 10vw, var(--size-800));
}

.feature {
  text-align: center;
}

.feature > * {
  max-width: 45ch;
  margin-inline: auto;
}

.featureTitle {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}
