.headerWrapper {
  --region-space: clamp(var(--size-500), 3vw, var(--size-600));
  background-color: var(--clr-neutral-700);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-400);
}

.navLink {
  text-decoration: none;
}

.navLink:is(:hover, :focus) {
  text-decoration: underline;
  color: var(--clr-neutral-100);
}
