.testimonials {
  --grid-placement: auto-fill;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
  --grid-gap: var(--size-600);
  padding-bottom: var(--size-500);
}

.testimonial {
  --flow-space: var(--size-500);
  --gap: var(--size-200);
  max-width: unset;
  padding: var(--size-600) var(--size-500);
  background-color: var(--clr-neutral-600);
  border-radius: var(--size-200);
  position: relative;
}

.testimonial:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: -3rem;
  left: -0.5rem;
  width: 4rem;
  aspect-ratio: 1 / 1;
  background-image: url("../assets/images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.testimonial img {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.testimonialAuthorName {
  font-weight: var(--fw-bold);
}

.testimonialAuthorMeta {
  font-size: var(--fs-300);
}
